
tecabix-sce/.settings/org.eclipse.m2e.core.prefs
tecabix-sce/.settings/org.eclipse.jdt.core.prefs
tecabix-sce/.settings/org.eclipse.core.resources.prefs
tecabix-sce/.project
tecabix-sce/.classpath
tecabix-sce/target/*
